<%- include('../partials/header.ejs') %>
<link rel="stylesheet" href="add.css">
<script src="add.js" defer></script>
<button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
      ******
  </div>
  <button onclick="myFunction()" class="dropbtn">Dropdown</button>
  <div id="myDropdown" class="dropdown-content">
      ******
  </div>  
<%- include('../partials/footer.ejs') %>

