<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="login.css">
        <div class="container">
                <div class="loginbox">
                    <div class="headL"><strong>Login</strong></div> 
                    <form action="/login" method="POST">
                        <span class="hh">Email</span><br>
                        <input type="email" id="loginbox" name="email">
                        <span class="hh">Password</span><br>
                        <input type="password" id="loginbox" name="password">
                        <div class="row">
                            <div class="col-6">
                                <span class="dl">No account yet?</span><br>
                                <a href="/register" class="dl">Register</a>
                            </div>
                            <div class="col-6">
                                <input type="submit" value="login" id="loginbutton">
                            </div>                               
                        </div>
                    </form>   
                </div>
        </div>
<%- include('partials/footer.ejs') %>