<%- include('partials/header.ejs') %>
    <link rel="stylesheet" href="/register.css">
            <div class="container">
                <form action="/register" method="POST">
                <div class="registerbox">
                    <div class="headL"><strong>Register</strong></div> 
                    <div class="row">
                        <div class="col-6">
                            <span class="word2">First Name</span>
                            <input type="text" id="inFname" class="inputname" name="Fname">
                        </div>
                        <div class="col-6">
                            <span>Last Name</span>
                            <input type="text" id="inLname" class="inputname2" name="Lname">   
                        </div>
                    </div>

                    <span class="word">Phone Number</span>
                    <input type="text" id="inputphone" class="input" name="numphone">
                    
                    <span class="word">Email</span>
                    <input type="email" id="inputemail" class="input" name="email">

                    <span class="word">Password</span>
                    <input type="password" id="inputpass" class="input" name="password">
                    
                    <input type='submit' value='register' class="regisbut">
                </div>
                </form>
            </div>  
<%- include('partials/footer.ejs') %>