body{
    background-color:#0099FF;
}
.acountbox{
    background-color: white;
    height: 10  00px;
    font-size: 30px;
    color: #0099FF;
    border: black solid 2px;
    margin-top: 2%;
}
p{
    margin-left: 40px;
}
#Myac{
    font-size: 50px;
    color: darkblue;
    padding-top: 20px;
}
.input{
    width: 350px;
    height: 40px;
    margin-left: 40px;
    border-radius: 10px;
}
.edit{
    background-color: darkblue;
    color: white;
    text-align: center;
    width: 100px;
    height: 50px;
    margin-left: 40px;
    border-radius: 10px;
    border: 0;
}
#out{
    background-color: white;
    width: 500px;
    height: 500px;
    border-radius: 1000px;
    border: darkblue 30px solid;
    margin-left: 2.5%;
    margin-top: 40px; 
}
.ypoint{
    font-size: 50px;
    margin-left: 20%;
    padding-top: 100px;
    padding-bottom: 0px;

}
#point{
    font-size: 100px;
    margin-left: 45%;
    padding-bottom: 0px;
}

.headL{
    background-color: darkblue;
    color: white;
    font-size: xx-large;
    padding-top : 0.25%;
    padding-right: 1%;
    padding-left: 1%;
    border-bottom: black solid 2px;
  }