
.acountbox{
    background-color: white;
    font-size:  x-large;
    border: black solid 2px;
    margin-top: 5%;
}

.edit{
    background-color: darkblue;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    border: 0;
}

.headL{
    background-color: darkblue;
    color: white;
    font-size: xx-large;
    padding-top : 0.25%;
    padding-right: 1%;
    padding-left: 1%;
    border-bottom: black solid 2px;
}
.point{
    margin-top: 3%;
    text-align: center;
    font-size: xx-large;
}
.point2{
    margin-left: 5%;
    margin-right: 5%;
    color: red;
}
.nl{
    padding-right: 0;
    border-right: black solid 2px;
}

.ml{
    border-right: black solid 2px;
}

.ln{
    border-bottom: black solid 2px;
}
.pl{
    padding-left: 0;
}

.pr{
    padding-right: 0;
}
.c{
    text-align: center;
}
.world{
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2.5%;
}

.inm{
    width: 60%;
    height: 30px;
}
.inm2{
    width: 59%;
    height: 30px;
}

@media screen  and (max-width: 425px) {
    .hi{
        display: block;
    }
    .hi2{
        display: none;
    }
}