.infobox{
    border: black 2px solid;
    height: 250px;
    border-radius: 20px;
    margin-left: 1%;
    margin-right: 1%;
    font-size: 25px;
    padding-top: 22px;
}
.box{
    background-color: white;
    height: 1000px;
    margin-top: 1%;
    padding-top: 1%;
    border-radius: 20px;
}