
.loginbox{
    background-color: white;
    margin-top: 10%;
    font-size: 25px;
    margin-left: 25%;
    margin-right: 25%;
    border: black solid 2px;
    padding-bottom: 2.5%;
    border: darkblue solid 15px;
}

#loginbox{
    margin-left: 10%;
    width: 80%;
    height: 50px;
    border-radius: 10px;
}

#loginbutton{
    width: 50%;
    height: 60px;
    border-radius: 10px;
    background-color:  darkblue;
    color: white;
    font-size: 30px;
    margin-top: 10px;
    margin-right: 20%;
    margin-left: 30%;
    border: 0;
}

.dl{
    margin-left: 20%;
    text-decoration: none;
}
.hh{
    margin-left: 10%;
}

.headL{
    background-color: darkblue;
    color: white;
    padding-top : 0.25%;
    padding-bottom: 1%;
    margin-bottom: 2.5%;
    text-align: center;
    font-size: xx-large;
  }